/Maxim_Gavrilenko/Semester 6/Coursework/SERVER_FOR_CLIENTS/
/Maxim_Gavrilenko/Semester 6/Coursework/Based_file/
/Maxim_Gavrilenko/Semester 6/Coursework/cmake-build-debug/
.vscode/tasks.json
.gitignore
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
Maxim_Gavrilenko/Semester 6/ATD/Stack/Stack.exe

